<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Automatic-Production-Completion</title>
    <style>
      #message {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }
    </style>
    <script>
      function hideElements() {
        var form = document.getElementById('myForm');
        var message = document.getElementById('message');
        
        form.style.display = 'none';
        
        message.style.display = 'block';
      }
      
      function submitForm(event) {
        event.preventDefault();  
        
        var id = document.getElementsByName('i')[0].value;
    
        var form = document.getElementById('myForm');
        form.setAttribute('action', '/treatments_' + encodeURIComponent(id));
        
        hideElements();
      
        form.submit();
      }
    </script>
  </head>
  <body>
    <header>
      <h1>Automatic-Production-Completion</h1>
    </header>

    <center>
      <form id="myForm" method="GET" action="">
        <input type="number" name="i" placeholder="ID">
        <input type="text" name="n" placeholder="Name">
        <input type="number" name="e" placeholder="EAN13">
        <label for="brand">Brand:</label>
        <select id="brand" name="b">
          <option value="">No Brand</option>
          {% for brand in brands %}
            <option value="{{ brand }}">{{ brand }}</option>
          {% endfor %}
        </select>
        <br> <br>
        <label for="modes">Modes:</label>
        <div id="modes">
          <input type="checkbox" name="m" value="desc" checked>
          <label for="desc">Descriptions</label><br>
          
          <input type="checkbox" name="m" value="imgs" checked>
          <label for="imgs">Images</label><br>
          
          <input type="checkbox" name="m" value="pric" checked>
          <label for="pric">Prices</label><br>
        </div>
        <br>
        <input type="submit" value="Launch" onclick="submitForm(event)">
      </form>
      
      <!-- Message -->
      <div id="message" style="display: none;">Ongoing treatment...</div>
    </center>
  </body>
</html>