.image-container {
    max-width: 100%; /* Pour occuper toute la largeur de l'écran */
    height: auto; /* Pour maintenir les proportions des images */
    display: flex; /* Pour créer une mise en page en ligne */
    flex-wrap: wrap; /* Pour permettre le retour à la ligne des images */
    justify-content: center; /* Pour centrer les images horizontalement */
}

.image-container img {
    max-width: 100%; /* Pour occuper toute la largeur du conteneur */
    height: auto; /* Pour maintenir les proportions de chaque image */
    margin: 10px; /* Espacement entre les images */
}
