
    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product</title>
<style>
.image-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
}
.image-container img {
    width: auto; /* Pour ajuster la largeur en fonction de la hauteur spécifiée */
    height: 300px; /* Hauteur fixe de 800 pixels */
    margin: 10px;
}
</style>
    <script>
function copyText(id) {
    var textToCopy = document.getElementById(id);

    var tempTextArea = document.createElement("textarea");
    tempTextArea.value = textToCopy.textContent;

    document.body.appendChild(tempTextArea);

    tempTextArea.select();

    document.execCommand("copy");

    document.body.removeChild(tempTextArea);
    }
    function goBack() {
          window.location.href = '/?activated=true';
        }
</script>
  </head>
  <body>
    <h1>Automatic Product Completion - Product ID : 1</h1>  <button onclick="goBack()">Back</button>
    <h2 id="texte-a-copier">Descriptions</h2><center><h2>Images</h2><div class="image-container"><img src="{{ url_for('product_images', filename='1/img/image-1_a.jpg')}}"  width="auto" height="auto"><img src="{{ url_for('product_images', filename='1/img/image-2_a.jpg')}}"  width="auto" height="auto"><img src="{{ url_for('product_images', filename='1/img/image-3_a.jpg')}}"  width="auto" height="auto"><img src="{{ url_for('product_images', filename='1/img/image-4_a.jpg')}}"  width="auto" height="auto"><img src="{{ url_for('product_images', filename='1/img/image-5_a.jpg')}}"  width="auto" height="auto"></div></center><h2>Price</h2></center>  </body> </html>